﻿@model ReversiApp.Models.Speler

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Login</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <form asp-controller="Auth" asp-action="Login" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Email">
                <label class="mdl-textfield__label" asp-for="Email"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Wachtwoord">
                <label class="mdl-textfield__label" asp-for="Wachtwoord"></label>
            </div>
            <div id="html_element"></div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
                Login
            </button>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" asp-controller="Auth" asp-action="Register">
                    Register
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" asp-controller="Speler" asp-action="ForgotPassword">
                    Forgot Password
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '6LdHwgcUAAAAAHR0IL3ng5vbQdp_1hZpSjuzm-1P'
            });
        };
    </script>
}

