﻿
@{
    ViewData["Title"] = "Verify";
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Verify</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        @using (Html.BeginForm("TwoFactorAuthenticate", "Auth", FormMethod.Post))
        {
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="codeDigit">
                <label class="mdl-textfield__label" for="codeDigit">Code Digit</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
                Verify
            </button>
        }
    </div>
</div>
