@model ReversiApp.Models.Spel

@{
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">New Game</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <form asp-controller="Spel" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Omschrijving">
                <label class="mdl-textfield__label" asp-for="Omschrijving"></label>
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
                Create
            </button>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" asp-controller="Spel" asp-action="Index">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>