@model ReversiApp.Models.Speler

@{
    Layout = "_Layout";
}

<div id="app">
    <reversi-game></reversi-game>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        window.token = "@Model.Spel.Token";
        window.playerToken = "@Model.Token";
    </script>
    <script src="~/js/bundle.min.js"></script>
}