﻿@model IEnumerable<ReversiApp.Models.Spel>
@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Games</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        @if (Model.ToList().Count > 0)
        {
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Description</th>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model)
                    {
                        <tr>
                            <td>@game.Omschrijving</td>
                            <td>
                                <form asp-controller="Spel" asp-action="JoinGame" method="post">
                                    <input type="hidden" asp-for="@game.ID" name="ID" />
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                        Join
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="mdl-card__menu">
        <a asp-controller="Spel" asp-action="Create" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
