﻿@model ReversiApp.Models.Speler

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Change Password</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <form asp-controller="Speler" asp-action="ChangePassword" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="password1">
                <label class="mdl-textfield__label" for="password1">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="password2">
                <label class="mdl-textfield__label" for="password2">Repeat password</label>
            </div>
            <div id="html_element"></div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
                Save
            </button>
        </form>
    </div>
</div>

