@model ReversiApp.Models.Speler

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Register</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <form asp-controller="Speler" asp-action="Create">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Naam">
                <label class="mdl-textfield__label" asp-for="Naam"></label>
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Email">
                <label class="mdl-textfield__label" asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Wachtwoord">
                <label class="mdl-textfield__label" asp-for="Wachtwoord"></label>
                <span asp-validation-for="Wachtwoord" class="text-danger"></span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
                Register
            </button>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" asp-controller="Auth" asp-action="Login">
                    Login
                </a>
            </div>
        </form>
    </div>
</div>
