@model ReversiApp.Models.Speler

@{
    Layout = "_Layout";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Account</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        @if (Model.TwoFactorAuth)
        {
            <img src="@ViewBag.BarcodeImageUrl" style="max-width: 50%;" class="float-right" alt="BarcodeImageUrl" />
        }
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Wachtwoord" />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Naam">
                <label class="mdl-textfield__label" asp-for="Naam"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" asp-for="Email">
                <label class="mdl-textfield__label" asp-for="Email"></label>
            </div>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                <input type="checkbox" id="switch-1" class="mdl-switch__input" asp-for="TwoFactorAuth">
                <span class="mdl-switch__label">Two Factor Autentication</span>
            </label>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
                Save
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
