﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Reversi</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Reversi</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Navigation</span>
            @if (User.Identity.IsAuthenticated)
            {
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" asp-controller="Spel" asp-action="Index">Home</a>
                    <a class="mdl-navigation__link" asp-controller="Speler" asp-action="Details">Account</a>
                    <a class="mdl-navigation__link" asp-controller="Speler" asp-action="ChangePassword">Change Password</a>
                    <a class="mdl-navigation__link" asp-controller="Auth" asp-action="Logout">Logout</a>
                </nav>
            }
        </div>
        <main class="mdl-layout__content">
            <div class="page-content" style="height: 100%; background-color: #EFEFEF;">
                <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
